*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family: Arial, sans-serif;
}

body{
  background:#0b0f1a;
  color:#fff;
}

.header{
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:15px 40px;
  background:#111827;
}

.logo{
  font-size:22px;
  font-weight:bold;
  color:#38bdf8;
}

nav a{
  color:white;
  margin-left:20px;
  text-decoration:none;
}

nav a:hover{
  color:#38bdf8;
}

.hero{
  text-align:center;
  padding:100px 20px;
  background:linear-gradient(135deg,#020617,#1e293b);
}

.hero h1{
  font-size:40px;
}

.hero p{
  margin:15px 0;
  font-size:18px;
  color:#cbd5f5;
}

.btn{
  background:#38bdf8;
  color:black;
  padding:12px 25px;
  text-decoration:none;
  border-radius:6px;
  font-weight:bold;
}

.cards{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(220px,1fr));
  gap:20px;
  padding:40px;
}

.card{
  background:#111827;
  padding:25px;
  text-align:center;
  border-radius:10px;
  box-shadow:0 0 10px rgba(56,189,248,0.2);
}

.footer{
  text-align:center;
  padding:15px;
  background:#020617;
}
.price-box {
    background: rgba(56,189,248,0.15);
    border: 1px solid #38bdf8;
    padding: 15px;
    border-radius: 8px;
    margin: 15px 0;
}

.price-box span {
    font-size: 26px;
    font-weight: bold;
    color: #38bdf8;
}

.price-box small {
    display: block;
    color: #cbd5f5;
}
